* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background: #E6E8E6;
  color: #191919;
  font-size: 16px;
  line-height: 1,6;
}

header {
  background: #FFFFFF;
  border-bottom: 4px solid #553A41;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 100;
}

header div img {
  height: 100px;
  object-fit: contain;
  border-radius: 6px;
}

nav .pogas {
  display: flex;
  gap: 1rem;
}

nav .pogas button {
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  color: #553A41;
  cursor: pointer;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  
}

nav .pogas button:hover {
  background: #553A41;
  color: #E6E8E6;
}

nav .pogas button {
  transition: 1s;
}

.hero {
    position: relative;
    height: 450px;
}


.hero img {   
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.button-shop:hover {
  background: #553A41;
  color: white;
}

.button-shop {
  
  border: none;
  margin: 5px 8px;
  padding: 10px 15px;
  text-align: center;
  font-size: 13px;
  border-radius: 6px;
    
}



div.Nocenoti-Produkti1,
div.Nocenoti-Produkti2,
div.Nocenoti-Produkti3,
div.Nocenoti-Produkti4 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 24%;
  vertical-align: top;
  background: #E6E8E6;
  padding: 12px;
  height: auto;
}
div.Nocenoti-Produkti1 img,
div.Nocenoti-Produkti2 img,
div.Nocenoti-Produkti3 img,
div.Nocenoti-Produkti4 img {
  width: 100%;
  aspect-ratio: 4/4;
  border-radius: 4px;
  margin-bottom: 10px;

}

div.Nocenoti-Produkti1 section,
div.Nocenoti-Produkti2 section,
div.Nocenoti-Produkti3 section,
div.Nocenoti-Produkti4 section {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}



div.Jauni-produkti5,
div.Jauni-produkti6,
div.Jauni-produkti7,
div.Jauni-produkti8 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 24%;
  vertical-align: top;
  background: #E6E8E6;
  padding: 12px;
  height: auto;
}

div.Jauni-produkti5 img,
div.Jauni-produkti6 img,
div.Jauni-produkti7 img,
div.Jauni-produkti8 img {
  width: 100%;
  aspect-ratio: 4/4;
  border-radius: 4px;
  margin-bottom: 10px;
}

.info-par-veikalu {
   padding: 30px 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #E6E8E6;
  
}

.footer {
   padding: 20px 60px;
  background: #553A41;
  color: #E6E8E6;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-left {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  color: #553A41;
}


.OAV {
  display: flex;
  justify-content: flex-end;
      
}